*.css text eol=binary
*.csv text eol=binary
*.fasta text eol=binary
*.fastq text eol=binary
*.fq text eol=binary
*.html text eol=binary
*.json text eol=binary
*.js text eol=binary
*.py text eol=binary
*.rs text eol=binary
*.sh text eol=binary
*.toml text eol=binary
*.tsv text eol=binary
*.txt text eol=binary
*.xml text eol=binary
*.yaml text eol=binary
*.yml text eol=binary
*.progress text eol=binary
stdout text eol=binary
