target*
result
.bacon-locations
sample_data/large
sample_data/temp*
benchmarks/data/large
benchmarks/output*
benchmarks/input.toml
*/profile.json
output_*
perf.data
perf.data.old
flamegraph.svg
html/output.html
sample_data/large/*
*/__pycache__/*
