*.css -text diff
*.csv -text diff
*.fasta -text diff
*.fastq -text diff
*.fq -text diff
*.html -text diff
*.json -text diff
*.js -text diff
*.py -text diff
*.rs -text diff
*.sh -text diff
*.toml -text diff
*.tsv -text diff
*.txt -text diff
*.xml -text diff
*.yaml -text diff
*.yml -text diff
*.progress -text diff
stdout -text diff
/docs/** linguist-documentation=true
/cookbooks/** linguist-documentation=true
/dev/** linguist-detectable=false
/test_cases/** linguist-detectable=false
/experiments/** linguist-detectable=false
