[input]
    read1 = 'input_read1.fq'

[[step]]
    action = 'ExtractIUPAC'
    search = "CAYA"
    out_label = 'anchor_tag'
    anchor = 'Anywhere'
    max_mismatches = 0

[[step]]
    action = 'ExtractAnchor'
    in_label = 'anchor_tag'
    regions = [[-2, 4], [-100, 10]]
    out_label = 'test'
    region_separator = 'X'

[[step]]
    action = 'FilterByTag'
	in_label = 'test'
    keep_or_remove = 'Keep'

[[step]]
    action = 'StoreTagLocationInComment'
	in_label = 'test'

[[step]]
    action = 'StoreTagInComment'
	in_label = 'test'

[output]
    prefix = 'output'
