[input]
    read1 = 'input_read1.fq.gz'

[output]
    prefix = 'output'
    compression = 'Raw'

# First test without shared barcodes - use inline for HammingCorrect
[[step]]
    action = 'Head'
    n = 10

[[step]]
    action = 'ExtractRegion'
	anchor = "start"
    source = "read1"
	start = 0
    length = 4
    out_label = 'barcode_extracted'

[[step]]
	action = "StoreTagInComment"
	in_label = "barcode_extracted"

[[step]]
	action = "StoreTagLocationInComment"
	in_label = "barcode_extracted"


# This should work as basic functionality test
[[step]]
    action = 'HammingCorrect'
	in_label = 'barcode_extracted'
	out_label = 'corrected'
	barcodes = 'barcodes'
	on_no_match = 'empty'
	max_hamming_distance=1

[[step]]
	action = "StoreTagInComment"
	in_label = "corrected"

[[step]]
	action = "StoreTagLocationInComment"
	in_label = "corrected"


[[step]]
	action = 'FilterByTag'
	in_label = 'corrected'
	keep_or_remove = 'keep'


[barcodes.barcodes]
    ATGA = 'label1'
    CTCC = 'label2'
