[input]
    read1 = 'input_read1.fq'

[[step]]
    action = 'ExtractIUPAC'
    search = "CACA"
    max_mismatches = 1
    out_label = 'anchor_tag'
    anchor = 'Anywhere'

[[step]]
    action = 'ExtractAnchor'
    in_label = 'anchor_tag'
    regions = [[0, 4], [4, 4]]
    out_label = 'test'
    region_separator = 'X'

[[step]]
    action = 'FilterByTag'
    in_label = 'test'
    keep_or_remove = 'Keep'

[[step]]
    action = 'StoreTagLocationInComment'
    in_label = 'test'

[[step]]
    action = 'StoreTagInComment'
    in_label = 'test'

[output]
    prefix = 'output'
